.news-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - #{$gap-xs}) / 2);
  margin-bottom: 32px;
  visibility: visible;
  animation: fadeIn 0.45s ease-in;

  &:nth-of-type(5),
  &:nth-of-type(6),
  &:nth-of-type(7),
  &:nth-of-type(8) {
    display: none;
  }

  &__pic-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 67.1%; /* stylelint-disable-line declaration-property-unit-disallowed-list */

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    background-color: $white-color;
    object-position: center;
    object-fit: cover;
  }

  &__title {
    @include paragraph-text-overflow(3);
    max-height: 63px;
    margin: 8px 0 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $black80-color;
  }

  &__date-source-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__date {
    margin-right: 16px;
    font-family: $font-family-sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: $black20-color;
  }

  &__source {
    @include text-overflow();
    font-family: $font-family-sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: $black20-color;
  }

  &__text {
    @include paragraph-text-overflow(4);
    max-height: 72px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #444444;
  }

  &__read-more-link {
    @include hover();
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }

  &.invisible {
    visibility: hidden;
  }
}

@media screen and (min-width: $screen-sm) {
  .news-item {
    width: calc((100% - #{$gap-sm} * 2) / 3);
    margin-bottom: 32px;

    &:nth-of-type(5),
    &:nth-of-type(6) {
      display: flex;
    }

    &__pic-wrapper {
      padding-bottom: 63.05%; /* stylelint-disable-line declaration-property-unit-disallowed-list */
    }

    &__title {
      max-height: 48px;
      margin: 16px 0;
      font-size: 18px;
      line-height: 24px;
    }

    &__date {
      font-size: 12px;
      line-height: 14px;
    }

    &__source {
      font-size: 12px;
      line-height: 14px;
    }

    &__text {
      max-height: 150px;
      font-size: 14px;
      line-height: 180%;
    }

    &__read-more-link {
      font-size: 14px;
      line-height: 180%;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .news-item {
    width: calc((100% - #{$gap-lg} * 3) / 4);
    margin-bottom: 72px;

    &:nth-of-type(7),
    &:nth-of-type(8) {
      display: flex;
    }

    &__pic-wrapper {
      padding-bottom: 65.18%; /* stylelint-disable-line declaration-property-unit-disallowed-list */
    }

    &__title {
      max-height: 64px;
      font-size: 24px;
      line-height: 32px;
    }

    &__text {
      max-height: 175px;
    }
  }
}
