.page {
  font-family: $font-family-serif;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
      display: flex;
      flex-direction: column;
      min-width: 100vw;
      min-height: 100vh;
      background-color: $bg-color;
      overflow-x: hidden;
    }
  }

  &__inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &__title {
    font-family: $font-family-sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $black80-color;
  }

  &__footer-wrapper {
    display: none;
  }
}

@media screen and (min-width: $screen-lg) {
  .page {
    &__footer-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white-color;
      padding: 31px;
      color: $black20-color;
    }

    &__title {
      font-size: 36px;
      line-height: 42px;
    }
  }
}
