@keyframes grow-right {
  0% {
    width: 28px;
  }

  100% {
    width: 100%;
  }
}

.search-form {
  display: none;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  width: auto;
  max-width: 140px;
  max-height: 35px;
  margin-left: auto;
  border: 1px solid $transparent-color;
  border-radius: 5px;
  padding: 0 0 0 5px;
  animation: grow-right 0.5s linear;

  &__input {
    @include text-overflow();
    display: flex;
    flex: 1;
    border: none;
    outline: 0;
    font-family: $font-family-sans;
    font-size: 14px;

    &::placeholder {
      font-family: $font-family-sans;
      font-size: 14px;
      opacity: 1;
      transition: opacity 0.25s ease-in;
    }

    &:focus-within {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__submit-btn {
    @include hover();
    width: 29px;
    height: 29px;
    border: none;
    background:
      url('../img/search.svg') no-repeat center / auto,
      $transparent-color;
    cursor: pointer;
  }

  &.active {
    display: flex;
    border-color: $black20-color;
    transition: border 1s ease-in;

    &:focus-within {
      border: 1px solid $black80-color;
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .search-form {
    width: 200px;
    max-width: 200px;
  }
}
