$bg-color:            #fdfdfd;
$white-color:         #f8f8f8;

$gray-light:          #f2f2f2;
$black20-color:       #949494;
$black40-color:       #6c6c6c;
$black60-color:       #444444;
$black80-color:       #121212;

$text-color:          $black60-color;

$transparent-color:   rgba(255, 255, 255, 0);

$font-family-sans:    Roboto, Arial, 'Helvetica Neue', sans-serif;
$font-family-serif:   PlayfairDisplay, Georgia, serif;

$font-size:           14px;
$line-height:         1.4;

$screen-xs:           480px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1440px;
$screen-xl:           1920px;


$gap-xs:              20px;
$gap-sm:              20px;
$gap-lg:              30px;

$margin-xs:           35px;
$margin-sm:           60px;
$margin-lg:           135px;
